
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@model Customer.Models.Contact



 <div class=container>
     <div class=row>
         @using (Html.BeginForm("CreateContact", "Contact", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))

                    {
                     
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CarName">
                                Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-7 col-xs-12" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="origin">
                                Phone <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(m => m.PhoneNumber, new { @class = "form-control col-md-7 col-xs-12" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="model">
                                Content <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control col-md-7 col-xs-12" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cc">
                                Received Date <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(m => m.ReceivedDate, new { @class = "form-control col-md-7 col-xs-12" })

                            </div>
                        </div>
                       
                       
                      
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="enginetype">
                                Enginetype <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control col-md-7 col-xs-12" })

                            </div>
                        </div>
                     
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="button">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Add New</button>
                            </div>
                        </div>
                    }

     </div>
 </div>
 